/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */
.container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    color: black;
    padding: 0 30px;
}

.heading {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
}

/* Main */
main {
    font-weight: bold;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.clicked {
    background-color: #6495ed;
    color: white;
}

/* Footer */
footer {
    height: 50px;
    line-height: 50px;
}